$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 0;
    padding-bottom: 0;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.background-image-one {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
}

.logo-one {
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 35px;
}

.sign-in-btn {

    width: 200px;
    height: 45px;
    color: white;
    border: none;
    border-radius: 2px;
    background-color: rgb(221, 71, 61);
    line-height: 43px;
    text-align: center;
    padding-top: 3px;
    margin: 0 auto;
    margin-top: 30px;

    &:hover {

        background-color: rgb(168,48,39);

    }

    &.active {
    width: 200px;
    height: 45px;
    color: white;
    border-bottom: 1.5px solid rgb(168,48,39); 
    background-color: rgb(221, 71, 61);
    line-height: 43px;
    text-align: center;
    padding-top: 3px;
    margin: 0 auto;
    margin-top: 30px;
    }

}


/*buttons on sign in click*/


.create-account-btn {

    width: 200px;
    height: 45px;
    color: white;
    border: none;
    border-radius: 2px;
    background-color: rgb(221, 71, 61);
    line-height: 43px;
    text-align: center;
    padding-top: 3px;
    margin: 0 auto;
    margin-top: 30px;
    opacity: 1;

    @include transition(opacity 400ms ease);

    &:hover {

        background-color: rgb(168,48,39);

    }

    &.active {
        opacity: 0;
    }
}

.sign-in-drop {
    overflow: hidden;
    width: 200px;
    background-color: #dd473d;
    height: 0px;
  /*  border-top: 1.5px solid rgb(168,48,39);*/
   /* border-bottom: 1.5px solid rgb(168,48,39);*/
    margin: 0 auto;
    @include transition(height 1000ms ease);


}

.username {
   margin-top: 15px;
    margin-left: 11px;
    border-radius: 2px;
    width: 175px;
    height: 30px;
    text-align: center;
}

.password {
   margin-top: 10px;
    margin-left: 11px;
    border-radius: 2px;
    width: 175px;
    height: 30px;
    text-align: center;
}

.login-btn {
    display: block;
    width: 199px;
    height: 45px;
    color: white;
    border: none;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: #dd473d;
    line-height: 43px;
    text-align: center;
    padding-top: 3px;
    margin: 0 auto;
    margin-top: 15px;
    border-top: 1.5px solid rgb(168,48,39);
 

    &:hover {

        background-color: rgb(168,48,39);

    }

}


















/*create account page view*/


.band-btn {
    width: 200px;
    height: 45px;
    color: white;
    border: none;
    border-radius: 2px;
    background-color: rgb(221, 71, 61);
    line-height: 43px;
    text-align: center;
    padding-top: 3px;
    margin: 0 auto;
    margin-top: 30px;

    &:hover {

        background-color: rgb(168,48,39);
    }
}



.bar-btn {
    width: 200px;
    height: 45px;
    color: white;
    border: none;
    border-radius: 2px;
    background-color: rgb(221, 71, 61);
    line-height: 43px;
    text-align: center;
    padding-top: 3px;
    margin: 0 auto;
    margin-top: 30px;

    &:hover {

        background-color: rgb(168,48,39);
    }
}

.create-account-title {
    text-align: center;
}

// Modal Styling Area

.modal-dialog {
    border-radius: 1px;
    width: 490px;
    padding-top: 150px;
    padding-bottom: 30px;
}

.modal-content {
    width: 500px;
    position: relative;
    background-color: snow;
    border-radius: 10px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: none;
}

.modal-header {
    border-radius: 7px 7px 0px 0px;
    background-color: rgb(51, 51, 51);
    border: none;
    height: 80px;

    .modal-title {
        color: silver;
        line-height: 50px;
        text-align: center;
        font-size: 16px;
        font-weight: 200;
    }
}

.modal-footer {
    border: none;
    margin-top: -19px;
    padding: 0px 20px 30px;
    text-align: right;
}

.input-group {
    height: 50px;
    width: 445px;
    padding: 10px;
    padding: 10px 15px 10px 27px;
}

.input-group .form-control {
    color: silver;
    font-weight: 200;
    background: snow;
    border-radius: 2px;
    border: 1px solid silver;
    height: 50px;
    width: 100%;
    margin-bottom: 0;
}

.cancel-button {
    display: inline-block;
    width: 121px;
    height: 38px;
    color: white;
    border: none;
    border-radius: 2px;
    background-color: #dd473d;
    line-height: 32px;
    text-align: center;
    padding-top: 3px;
    margin: 0 auto;
    margin: 10px 10px 10px 10px;
}

.save-button-musician {
    display: inline-block;
    width: 404px;
    height: 60px;
    color: white;
    border: none;
    border-radius: 2px;
    background-color: #dd473d;
    line-height: 32px;
    text-align: center;
    padding-top: 14px;
    margin: 0 auto;
    margin: 10px 28px 12px 10px;
}

.save-button-bar {
    display: inline-block;
    width: 404px;
    height: 60px;
    color: white;
    border: none;
    border-radius: 2px;
    background-color: #dd473d;
    line-height: 32px;
    text-align: center;
    padding-top: 14px;
    margin: 0 auto;
    margin: 10px 28px 12px 10px;
}
























/*musician profile view start*/

.musician-page-container {
    margin: 0 auto;
    width: 960px;
}

.profile-page-background {
    z-index: -1000;
    position: absolute;
    background-color: silver;
    width: 100%;
    height: 224%;
}

.main-header {
    z-index: 100;
    position: fixed;
    background-color: rgb(51, 51, 51);
    width: 100%;
    height: 60px;
}

.header-logo-div {
    padding-top: 5px;
    display: inline-block;
    width: 60px;
    height: 60px;

    .header-logo {
        width: 50px;
        height: 50px;
    }
}

.profile-button {
    font-weight: 100;
    letter-spacing: 2px;
    display: inline-block;
    width: 121px;
    height: 60px;
    color: white;
    border: none;
    background-color: rgb(51, 51, 51);
    line-height: 50px;
    text-align: center;
    padding-top: 3px;
    margin: 0 auto;

    &:hover {
        background-color: rgba(0, 0, 0, .1);
        border-bottom: 4px solid #dd473d;
    }
}

.musician-profile-box {
    display: inline-block;
    background-color: #dd473d;
    width: 630px;
    height: 280px;
    vertical-align: top;
    margin-top: 100px;
    float: left;
}

.musician-profile-image-div {
    display: inline-block;
    margin: 35px 20px 30px 20px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;

    .musician-avatar {
        width: 150px;
        height: auto;
    }
}

.musician-profile-main-info {
    display: inline-block;
    vertical-align: top;
    margin-top: 80px;

    h3 {
        margin-top: 0px;
        margin-bottom: 0px;
        display: inline-block;
        line-height: 13px;
        font-size: 24px;
        letter-spacing: 1px;
        color: snow;
    }

    h4 {
        margin-top: 5px;
        margin-bottom: 5px;
        display: inline-block;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 1px;
        color: snow;
    }

    p {
        letter-spacing: 1px;
        display: inline-block;
        line-height: 5px;
        font-weight: 300;
        color: snow;
    }
}

.musician-edit-button {
    width: 121px;
    height: 60px;
    display: inline-block;
    float: right;

    .edit-button {
        font-weight: 200;
        letter-spacing: 2px;
        display: inline-block;
        width: 121px;
        height: 60px;
        color: #dd473d;
        border: none;
        background-color: snow;
        line-height: 50px;
        text-align: center;
        padding-top: 3px;
        margin: 0 auto;

        &:hover {
            background-color: snow;
            opacity: .5;
        }
    }
}


.profile-divide {
    width: 100%;
    background-color: snow;
}

.musician-profile-secondary-info {
    text-align: center;
    width: 100%;
    height: 60px;
    background-color: snow;

    .nightly-rate {
        background-color: snow;
        display: inline-block;
        height: 60px;
        width: 160px;
        border-right: 1px solid silver;

        .rate-title {
            font-size: 17px;
            display: inline-block;
            font-weight: 200;
            letter-spacing: 2px;
            margin-top: 20px;
            color: silver;
        }
    }

    .nightly-rate-price {
        background-color: snow;
        display: inline-block;
        height: 60px;
        width: 150px;
        border-right: 1px solid silver;

        .price {
            font-size: 17px;
            display: inline-block;
            font-weight: 500;
            letter-spacing: 2px;
            margin-top: 20px;
            color: #dd473d;
            opacity: .8;
        }
    }

    .availability-title {
        background-color: snow;
        display: inline-block;
        height: 60px;
        width: 160px;
        border-right: 1px solid silver;

        .available-copy  {
            font-size: 17px;
            display: inline-block;
            font-weight: 200;
            letter-spacing: 2px;
            margin-top: 20px;
            color: silver;
        }

    }

    .availability {
        background-color: snow;
        display: inline-block;
        height: 60px;
        width: 140px;

        .available-calender {
            font-size: 16px;
            display: inline-block;
            font-weight: 500;
            letter-spacing: 2px;
            margin-top: 20px;
            color: #dd473d;
            opacity: .8;
        }
    }
}
/*musician profile view end*/



/*musician search view start*/
.search-box {
    display: inline-block;
    background-color: snow;
    width: 320px;
    height: 500px;
    vertical-align: top;
    float: right;
    margin-top: 81px;
}

.musician-search-header {
    width: 320px;
    height: 60px;
    background-color: #dd473d;

    .musician-search-header-title {
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 2px;
        color: snow;
        line-height: 60px;
        text-align: center;
        margin-top: 0px;
        letter-spacing: 1px;
    }
}

.musician-search-btn {
    width: 100%;
    height: 60px;
    color: silver;
    border-bottom: 1px solid silver;
    background-color: snow;
    text-align: center;
    margin: 0 auto;


    .choose-main-copy {
        margin-left: 30px;
        line-height: 60px;
        font-size: 17px;
        display: inline-block;
        font-weight: 200;
        letter-spacing: 2px;
        display: inline-block;
    }

    .glyphicon-chevron-down {
        float: right;
        line-height: 60px;
        margin-right: 20px;
        position: relative;
    }

    &:hover {
        color: rgb(51, 51, 51);
        font-weight: 300;
        background-color: rgba(192, 192, 192, .3);
    }
}

.location-search-btn {
    width: 100%;
    height: 60px;
    color: silver;
    border-bottom: 1px solid silver;
    background-color: snow;
    text-align: center;
    margin: 0 auto;


    .choose-location-copy {
        margin-left: 30px;
        line-height: 60px;
        font-size: 17px;
        display: inline-block;
        font-weight: 200;
        letter-spacing: 2px;
        display: inline-block;
    }

    .glyphicon-chevron-down.location-chevron {
        float: right;
        line-height: 60px;
        margin-right: 20px;
        position: relative;
    }

    &:hover {
        color: rgb(51, 51, 51);
        font-weight: 300;
        background-color: rgba(192, 192, 192, .3);
    }
}

.genre-search-btn {
    width: 100%;
    height: 60px;
    color: silver;
    border-bottom: 1px solid silver;
    background-color: snow;
    text-align: center;
    margin: 0 auto;


    .choose-genre-copy {
        margin-left: 30px;
        line-height: 60px;
        font-size: 17px;
        display: inline-block;
        font-weight: 200;
        letter-spacing: 2px;
        display: inline-block;
    }

    .glyphicon-chevron-down.genre-chevron {
        float: right;
        line-height: 60px;
        margin-right: 20px;
        position: relative;
    }

    &:hover {
        color: rgb(51, 51, 51);
        font-weight: 300;
        background-color: rgba(192, 192, 192, .3);
    }
}

.availability-search-btn {
    width: 100%;
    height: 60px;
    color: silver;
    border-bottom: 1px solid silver;
    background-color: snow;
    text-align: center;
    margin: 0 auto;


    .choose-availability-copy {
        margin-left: 30px;
        line-height: 60px;
        font-size: 17px;
        display: inline-block;
        font-weight: 200;
        letter-spacing: 2px;
        display: inline-block;
    }

    .glyphicon-chevron-down.availability-chevron {
        float: right;
        line-height: 60px;
        margin-right: 20px;
        position: relative;
    }

    &:hover {
        color: rgb(51, 51, 51);
        font-weight: 300;
        background-color: rgba(192, 192, 192, .3);
    }
}

.section-search-btn {
    width: 200px;
    height: 45px;
    color: white;
    border: none;
    border-radius: 2px;
    background-color: rgb(221, 71, 61);
    line-height: 43px;
    text-align: center;
    padding-top: 3px;
    margin: 0 auto;
    margin-top: 110px;

    &:hover {
        background-color: rgb(168,48,39);
    }
}




/*search view end*/


.showcase-box {
    background-color: snow;
    width: 630px;
    height: 720px;
    vertical-align: top;
    margin-top: 10px;
    float: left;
}































/*musician message view start*/



.messages-preview-box {
    display: inline-block;
    background-color: snow;
    width: 320px;
    height: 500px;
    vertical-align: top;
    float: right;
    margin-top: 10px;
}


.message-preview-btn {
    width: 200px;
    height: 45px;
    color: white;
    border: none;
    border-radius: 2px;
    background-color: rgb(221, 71, 61);
    line-height: 43px;
    text-align: center;
    padding-top: 3px;
    margin: 0 auto;
    margin-top: 110px;

    &:hover {
        background-color: rgb(168,48,39);
    }
}

.musician-message-list {
    background-color: gray;
    height: 400px;
    width: 300px;
    overflow: scroll;
}





