$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 0;
    padding-bottom: 0;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.background-image-one {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
}

.logo-one {
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 35px;
}

.sign-in-btn {

    width: 200px;
    height: 45px;
    color: white;
    border: none;
    border-radius: 2px;
    background-color: rgb(221, 71, 61);
    line-height: 43px;
    text-align: center;
    padding-top: 3px;
    margin: 0 auto;
    margin-top: 30px;

    &:hover {

        background-color: rgb(168,48,39);

    }

    &.active {
    width: 200px;
    height: 45px;
    color: white;
    border-bottom: 1.5px solid rgb(168,48,39); 
    background-color: rgb(221, 71, 61);
    line-height: 43px;
    text-align: center;
    padding-top: 3px;
    margin: 0 auto;
    margin-top: 30px;
    }

}


/*buttons on sign in click*/

.create-account-btn {

    width: 200px;
    height: 45px;
    color: white;
    border: none;
    border-radius: 2px;
    background-color: rgb(221, 71, 61);
    line-height: 43px;
    text-align: center;
    padding-top: 3px;
    margin: 0 auto;
    margin-top: 30px;
    opacity: 1;
    text-decoration: none;

    @include transition(opacity 400ms ease);

    &:hover {

        background-color: rgb(168,48,39);
        text-decoration: none;

    }

    &.active {
        opacity: 0;
        text-decoration: none;
    }
}

.sign-in-drop {
    overflow: hidden;
    width: 200px;
    background-color: #dd473d;
    height: 0px;
  /*  border-top: 1.5px solid rgb(168,48,39);*/
   /* border-bottom: 1.5px solid rgb(168,48,39);*/
    margin: 0 auto;
    @include transition(height 1000ms ease);
}

.username {
   margin-top: 15px;
    margin-left: 11px;
    border-radius: 2px;
    width: 175px;
    height: 30px;
    text-align: center;
}

.password {
   margin-top: 10px;
    margin-left: 11px;
    border-radius: 2px;
    width: 175px;
    height: 30px;
    text-align: center;
}

.login-btn {
    display: block;
    width: 199px;
    height: 45px;
    color: white;
    border: none;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: #dd473d;
    line-height: 43px;
    text-align: center;
    padding-top: 3px;
    margin: 0 auto;
    margin-top: 15px;
    border-top: 1.5px solid rgb(168,48,39);
 

    &:hover {

        background-color: rgb(168,48,39);

    }

}


















/*create account page view*/


.band-btn {
    width: 200px;
    height: 45px;
    color: white;
    border: none;
    border-radius: 2px;
    background-color: rgb(221, 71, 61);
    line-height: 43px;
    text-align: center;
    padding-top: 3px;
    margin: 0 auto;
    margin-top: 30px;

    &:hover {

        background-color: rgb(168,48,39);
    }
}



.bar-btn {
    width: 200px;
    height: 45px;
    color: white;
    border: none;
    border-radius: 2px;
    background-color: rgb(221, 71, 61);
    line-height: 43px;
    text-align: center;
    padding-top: 3px;
    margin: 0 auto;
    margin-top: 30px;

    &:hover {

        background-color: rgb(168,48,39);
    }
}

.create-account-title {
    text-align: center;
}

// Modal Styling Area

.modal-dialog {
    border-radius: 1px;
    width: 490px;
    padding-top: 150px;
    padding-bottom: 30px;
}

.modal-content {
    width: 500px;
    position: relative;
    background-color: snow;
    border-radius: 10px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: none;
}

.modal-header {
    border-radius: 7px 7px 0px 0px;
    background-color: rgb(51, 51, 51);
    border: none;
    height: 80px;

    .modal-title {
        color: silver;
        line-height: 50px;
        text-align: center;
        font-size: 16px;
        font-weight: 200;
    }
}

.modal-footer {
    border: none;
    margin-top: -19px;
    padding: 0px 20px 30px;
    text-align: right;
}

.input-group {
    height: 50px;
    width: 445px;
    padding: 10px;
    padding: 10px 15px 10px 27px;
}

.input-group .form-control {
    color: silver;
    font-weight: 200;
    background: snow;
    border-radius: 2px;
    border: 1px solid silver;
    height: 50px;
    width: 100%;
    margin-bottom: 0;
}

.cancel-button {
    display: inline-block;
    width: 121px;
    height: 38px;
    color: white;
    border: none;
    border-radius: 2px;
    background-color: #dd473d;
    line-height: 32px;
    text-align: center;
    padding-top: 3px;
    margin: 0 auto;
    margin: 10px 10px 10px 10px;
}

.save-button-musician {
    display: inline-block;
    width: 404px;
    height: 60px;
    color: white;
    border: none;
    border-radius: 2px;
    background-color: #dd473d;
    line-height: 32px;
    text-align: center;
    padding-top: 14px;
    margin: 0 auto;
    margin: 10px 28px 12px 10px;
}

.save-button-bar {
    display: inline-block;
    width: 404px;
    height: 60px;
    color: white;
    border: none;
    border-radius: 2px;
    background-color: #dd473d;
    line-height: 32px;
    text-align: center;
    padding-top: 14px;
    margin: 0 auto;
    margin: 10px 28px 12px 10px;
}
























/*musician profile view start*/

.musician-page-container-header {
    margin: 0 auto;
    width: 960px;
}

.musician-page-container {
    margin: 0 auto;
    width: 960px;
}


.profile-page-background {
    z-index: -1000;
    position: absolute;
    background-color: silver;
    width: 100%;
    height: 224%;
}

.main-header {
    z-index: 100;
    position: fixed;
    background-color: rgb(51, 51, 51);
    width: 100%;
    height: 60px;
}

.header-logo-div {
    padding-top: 5px;
    display: inline-block;
    width: 60px;
    height: 60px;

    .header-logo {
        width: 50px;
        height: 50px;
    }
}

.profile-buttons {
    font-weight: 100;
    letter-spacing: 2px;
    display: inline-block;
    width: 121px;
    height: 60px;
    color: white;
    border: none;
    background-color: rgb(51, 51, 51);
    line-height: 50px;
    text-align: center;
    padding-top: 3px;
    margin: 0 auto;
    -webkit-transition: all .2s ease-in-out;

    &:hover {
        background-color: rgba(0, 0, 0, .1);
        border-bottom: 4px solid #dd473d;
    }
}

.musician-profile-box {
    display: inline-block;
    background-color: #dd473d;
    width: 630px;
    height: 280px;
    vertical-align: top;
    margin-top: 100px;
    float: left;
}

.musician-profile-image-div {
    display: inline-block;
    margin: 35px 20px 30px 20px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;

    .musician-avatar {
        width: 150px;
        height: auto;
    }
}

.musician-profile-main-info {
    width: 310px;
    display: inline-block;
    vertical-align: top;
    margin-top: 50px;
    height: 115px;

    .name {
        text-overflow: hidden;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 13px;
        font-size: 20px;
        letter-spacing: 1px;
        color: snow;
    }

    .genre {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: 200;
        letter-spacing: 1px;
        color: snow;
        list-style: none;
    }

    .location {
        letter-spacing: 1px;
        line-height: 5px;
        font-weight: 300;
        color: snow;
    }
}

.musician-edit-button {
    width: 121px;
    height: 60px;
    display: inline-block;
    float: right;
    text-decoration: none;

    .edit-button {
        font-weight: 200;
        letter-spacing: 2px;
        display: inline-block;
        width: 121px;
        height: 60px;
        color: #dd473d;
        border: none;
        background-color: snow;
        line-height: 50px;
        text-align: center;
        padding-top: 3px;
        margin: 0 auto;
        text-decoration: none;

        &:hover {
            background-color: snow;
            opacity: .5;
        }
    }
}


.profile-divide {
    width: 100%;
    background-color: snow;
}

.musician-profile-secondary-info {
    text-align: center;
    width: 100%;
    height: 60px;
    background-color: snow;

    .nightly-rate {
        background-color: snow;
        display: inline-block;
        height: 60px;
        width: 160px;
        border-right: 1px solid silver;

        .rate-title {
            font-size: 17px;
            display: inline-block;
            font-weight: 200;
            letter-spacing: 2px;
            margin-top: 20px;
            color: silver;
        }
    }

    .nightly-rate-price {
        background-color: snow;
        display: inline-block;
        height: 60px;
        width: 150px;
        border-right: 1px solid silver;

        .price {
            font-size: 17px;
            display: inline-block;
            font-weight: 500;
            letter-spacing: 2px;
            margin-top: 20px;
            color: #dd473d;
            opacity: .8;
        }
    }

    .availability-title {
        background-color: snow;
        display: inline-block;
        height: 60px;
        width: 160px;
        border-right: 1px solid silver;

        .available-copy  {
            font-size: 17px;
            display: inline-block;
            font-weight: 200;
            letter-spacing: 2px;
            margin-top: 20px;
            color: silver;
        }

    }

    .availability {
        list-style: none;
        background-color: snow;
        display: inline-block;
        height: 60px;
        width: 148px;
        vertical-align: top;

        .available-calender {
            font-size: 16px;
            display: inline-block;
            font-weight: 500;
            letter-spacing: 2px;
            margin-top: 20px;
            color: #dd473d;
            opacity: .8;
        }
    }
}
/*musician profile view end*/








































/*musician search view start*/
.search-box {
    display: inline-block;
    background-color: snow;
    width: 320px;
    height:  auto;
    vertical-align: top;
    float: right;
    margin-top: 81px;

}

.musician-search-header {
    width: 320px;
    height: 60px;
    background-color: #dd473d;

    .musician-search-header-title {
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 2px;
        color: snow;
        line-height: 60px;
        text-align: center;
        margin-top: 0px;
        letter-spacing: 1px;
    }
}

.musician-search-btn {
    width: 100%;
    height: 60px;
    color: silver;
    border-bottom: 1px solid silver;
    background-color: snow;
    text-align: center;
    margin: 0 auto;

    .choose-search-copy {
        margin-left: 30px;
        line-height: 60px;
        font-size: 17px;
        display: inline-block;
        font-weight: 200;
        letter-spacing: 2px;
        display: inline-block;
    }


    .glyphicon-chevron-down.search-chevron {
        float: right;
        line-height: 60px;
        margin-right: 20px;
        position: relative;
    }

    &:hover {
        color: rgb(51, 51, 51);
        font-weight: 300;
        background-color: rgba(192, 192, 192, .3);
    }
}

.location-one {
    display: none;
    width: 100%;
    height: 60px;
    color: silver;
    border-bottom: 1px solid silver;
    background-color: snow;

    &.active {
        display:block;
        font-size: 17px;
        font-weight: 100;
        color: silver;
        text-align: center;
    }
}

.location-search-btn {
    width: 100%;
    height: 60px;
    color: silver;
    border-bottom: 1px solid silver;
    background-color: snow;
    text-align: center;
    margin: 0 auto;


    .choose-location-copy {
        margin-left: 30px;
        line-height: 60px;
        font-size: 17px;
        display: inline-block;
        font-weight: 200;
        letter-spacing: 2px;
        display: inline-block;
    }

    .glyphicon-chevron-down.location-chevron {
        float: right;
        line-height: 60px;
        margin-right: 20px;
        position: relative;
    }

    &:hover {
        color: rgb(51, 51, 51);
        font-weight: 300;
        background-color: rgba(192, 192, 192, .3);
    }

}

.location-two {
    display: none;
    width: 100%;
    height: 60px;
    color: silver;
    border-bottom: 1px solid silver;
    background-color: snow;

    &.active {
        display:block;
        font-size: 17px;
        font-weight: 100;
        color: silver;
        text-align: center;
    }
}

.genre-search-btn {
    width: 100%;
    height: 60px;
    color: silver;
    border-bottom: 1px solid silver;
    background-color: snow;
    text-align: center;
    margin: 0 auto;


    .choose-genre-copy {
        margin-left: 30px;
        line-height: 60px;
        font-size: 17px;
        display: inline-block;
        font-weight: 200;
        letter-spacing: 2px;
        display: inline-block;
    }

    .glyphicon-chevron-down.genre-chevron {
        float: right;
        line-height: 60px;
        margin-right: 20px;
        position: relative;
    }

    &:hover {
        color: rgb(51, 51, 51);
        font-weight: 300;
        background-color: rgba(192, 192, 192, .3);
    }
}

.location-three {
    display: none;
    width: 100%;
    height: 60px;
    color: silver;
    border-bottom: 1px solid silver;
    background-color: snow;

    &.active {
        display:block;
        font-size: 17px;
        font-weight: 100;
        color: silver;
        text-align: center;
    }
}

.availability-search-btn {
    width: 100%;
    height: 60px;
    color: silver;
    border-bottom: 1px solid silver;
    background-color: snow;
    text-align: center;
    margin: 0 auto;


    .choose-availability-copy {
        margin-left: 30px;
        line-height: 60px;
        font-size: 17px;
        display: inline-block;
        font-weight: 200;
        letter-spacing: 2px;
        display: inline-block;
    }

    .glyphicon-chevron-down.availability-chevron {
        float: right;
        line-height: 60px;
        margin-right: 20px;
        position: relative;
    }

    &:hover {
        color: rgb(51, 51, 51);
        font-weight: 300;
        background-color: rgba(192, 192, 192, .3);
    }
}

.location-four {
    display: none;
    width: 100%;
    height: 60px;
    color: silver;
    border-bottom: 1px solid silver;
    background-color: snow;

    &.active {
        display:block;
        font-size: 17px;
        font-weight: 100;
        color: silver;
        text-align: center;
    }
}

.section-search-btn {
    width: 200px;
    height: 45px;
    color: white;
    border: none;
    border-radius: 2px;
    background-color: rgb(221, 71, 61);
    line-height: 43px;
    text-align: center;
    padding-top: 3px;
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 45px;


    &:hover {
        background-color: rgb(168,48,39);
    }
}




/*search view end*/












































.showcase-box {
    background-color: snow;
    width: 630px;
    height: 820px;
    vertical-align: top;
    margin-top: 10px;
    float: left;
}

.musician-showcase-header {
    width: 100%;
    height: 60px;
    background-color: #dd473d;

    .musician-showcase-header-title {
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 2px;
        color: snow;
        line-height: 60px;
        text-align: center;
        margin-top: 0px;
        letter-spacing: 1px;
    }
}

.musician-showcase-photo-title {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #dd473d;
    line-height: 60px;
    margin-top: 0px;
    margin-left: 22px;
    letter-spacing: 1px;
}

.musician-photo-gallery {
    width: 100%;
    height: 430px;
    background-color: rgba(192, 192, 192, .3);
}

.musician-photo-one-div {
    vertical-align: top;
    margin-top: 20px;
    margin-left: 22px;
    margin-right: 4px;
    margin-bottom: 2px;
    position: relative;
    display: inline-block;
    background-color: snow;
    width: 190px;
    height: 190px;
    color: rgb(46, 49, 51);
    transition-duration: .6s; 

    .musician-photo-crop {
        position: relative;
        display: inline-block;
        width: 190px;
        height: 190px;
        overflow: hidden;

        .musician-photo-size {
            width: 315px;
            height: auto;
        }
    }
}

.musician-photo-two-div {
    vertical-align: top;
    margin-top: 20px;
    margin-right: 4px;
    margin-bottom: 2px;
    position: relative;
    display: inline-block;
    background-color: snow;
    width: 190px;
    height: 190px;
    border-radius: 2px;
    box-shadow: 0px 0px 7px -3px silver;
    color: rgb(46, 49, 51);
    transition-duration: .6s;

    .musician-photo-crop {
        position: relative;
        display: inline-block;
        width: 190px;
        height: 190px;
        overflow: hidden;

        .musician-photo-size {
            width: 341px;
            height: auto;
        }
    } 
}


.musician-photo-three-div {
    vertical-align: top;
    margin-top: 20px;
    margin-right: 2px;
    margin-bottom: 2px;
    position: relative;
    display: inline-block;
    background-color: snow;
    width: 190px;
    height: 190px;
    border-radius: 2px;
    box-shadow: 0px 0px 7px -3px silver;
    color: rgb(46, 49, 51);
    transition-duration: .6s; 

    .musician-photo-crop {
        position: relative;
        display: inline-block;
        width: 190px;
        height: 190px;
        overflow: hidden;

        .musician-photo-size {
            width: 100%;
            height: auto;
        }
    }
}

.musician-photo-four-div {
    vertical-align: top;
    margin-top: 4px;
    margin-left: 22px;
    margin-right: 4px;
    margin-bottom: 2px;
    position: relative;
    display: inline-block;
    background-color: snow;
    width: 190px;
    height: 190px;
    border-radius: 2px;
    box-shadow: 0px 0px 7px -3px silver;
    color: rgb(46, 49, 51);
    transition-duration: .6s; 

    .musician-photo-crop {
        position: relative;
        display: inline-block;
        width: 190px;
        height: 190px;
        overflow: hidden;

        .musician-photo-size {
            width: 100%;
            height: auto;
        }
    }    
}

.musician-photo-five-div {
    vertical-align: top;
    margin-top: 4px;
    margin-right: 4px;
    margin-bottom: 2px;
    position: relative;
    display: inline-block;
    background-color: snow;
    width: 190px;
    height: 190px;
    border-radius: 2px;
    box-shadow: 0px 0px 7px -3px silver;
    color: rgb(46, 49, 51);
    transition-duration: .6s; 

    .musician-photo-crop {
        position: relative;
        display: inline-block;
        width: 190px;
        height: 190px;
        overflow: hidden;

        .musician-photo-size {
            width: 100%;
            height: auto;
        }
    }
}

.musician-photo-six-div {
    vertical-align: top;
    margin-top: 4px;
    margin-right: 2px;
    margin-bottom: 2px;
    position: relative;
    display: inline-block;
    background-color: snow;
    width: 190px;
    height: 190px;
    border-radius: 2px;
    box-shadow: 0px 0px 7px -3px silver;
    color: rgb(46, 49, 51);
    transition-duration: .6s; 

    .musician-photo-crop {
        position: relative;
        display: inline-block;
        width: 190px;
        height: 190px;
        overflow: hidden;

        .musician-photo-size {
            width: 100%;
            height: auto;
        }
    }
}

.musician-showcase-videos-title {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #dd473d;
    line-height: 60px;
    margin-top: 20px;
    margin-left: 22px;
    letter-spacing: 1px;
}




























/*musician message view start*/



.messages-preview-box {
    display: inline-block;
    background-color: snow;
    width: 320px;
    height: 600px;
    vertical-align: top;
    float: right;
    margin-top: 10px;
}

.musician-message-header {
    width: 320px;
    height: 60px;
    background-color: #dd473d;

    .musician-message-header-title {
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 2px;
        color: snow;
        line-height: 60px;
        text-align: center;
        margin-top: 0px;
        letter-spacing: 1px;
    }
}


.message-preview-btn {
    width: 200px;
    height: 45px;
    color: white;
    border: none;
    border-radius: 2px;
    background-color: rgb(221, 71, 61);
    line-height: 43px;
    text-align: center;
    padding-top: 3px;
    margin: 0 auto;
    margin-top: 48px;

    &:hover {
        background-color: rgb(168,48,39);
    }
}

// new message area

.musician-message-list {
    border-top: 4px solid rgb(221, 71, 61);
    border-left: 1px solid rgba(192, 192, 192, .1);
    border-right: 1px solid rgba(192, 192, 192, .1);
    border-bottom: 1px solid rgba(192, 192, 192, .1);
    margin-left: 23px;
    margin-top: 21px;
    height: 380px;
    width: 275px;
    overflow: scroll;

    .new-message {
        width: 100%;
        height: 80px;
        color: silver;
        border-bottom: 1px solid silver;
        background-color: rgba(192, 192, 192, .2);

        .musician-message-image-div {
            position: relative;
            left: 0px;
            display: inline-block;
            margin: 10px 5px 0px 10px;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            overflow: hidden;

            .musician-message-avatar {
                width: 60px;
                height: auto;
            }
        }

        .message-text-content {
            width: 175px;
            height: 60px;
            position: relative;
            display: inline-block;
            vertical-align: top;
            margin-top: 12px;

            .new-message-name {
                margin: 0px;
                font-size: 14px;
                font-weight: 500;
                color: rgba(51, 51, 51, .6);
            }

            .new-message-genre {
                margin: 0px;
                font-size: 12px;
                font-weight: 500;
                color: rgba(51, 51, 51, .6);
            }

            .new-message-text {
                margin: 0px;
                font-size: 11px;
                font-weight: 200;
                color: rgba(51, 51, 51, .6);
            }
        }

        &:hover {
            background-color: rgba(51, 51, 51, .1);
        }
    }
}






















// Edit Profile Form Page

.form-container {
    position: relative;
    width: 750px;
    margin: 150px auto;
    height: auto;
    background-color: white;
}

.form-container-header {
    width: 100%;
    height: 120px;
    background-color: rgb(221, 71, 61); 
}


.form-group-one {
    margin-top: 0px;
    padding: 40px;
}

.musician-name-form {
    color: rgb(51, 51, 51);
    font-weight: 200;
    background: white;
    border-radius: 2px;
    border: 1px solid silver;
    height: 50px;
    width: 100%;
    margin-bottom: 0;
    padding-left: 10px;
}

.musician-email-form {
    color: rgb(51, 51, 51);
    font-weight: 200;
    background: white;
    border-radius: 2px;
    border: 1px solid silver;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0;
    padding-left: 10px;
}

.musician-city-form {
    color: rgb(51, 51, 51);
    font-weight: 200;
    background: white;
    border-radius: 2px;
    border: 1px solid silver;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0;
    padding-left: 10px;
}

.musician-state-form {
    color: rgb(51, 51, 51);
    font-weight: 200;
    background: white;
    border-radius: 2px;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0;
}

// .musician-genre-form {
//     color: rgb(51, 51, 51);
//     font-weight: 200;
//     background: white;
//     border-radius: 2px;
//     border: 1px solid silver;
//     height: 50px;
//     width: 100%;
//     margin-top: 20px;
//     margin-bottom: 0;
//     padding-left: 10px;
// }

.musician-nightly-rate-form {
    color: rgb(51, 51, 51);
    font-weight: 200;
    background: white;
    border-radius: 2px;
    border: 1px solid silver;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0;
    padding-left: 10px;
}

.musician-photos-form {
    color: rgb(51, 51, 51);
    font-weight: 200;
    background: white;
    border-radius: 2px;
    border: 1px solid silver;
    height: 50px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0;
    padding-left: 10px;
}

.musician-videos-form {
    color: rgb(51, 51, 51);
    font-weight: 200;
    background: white;
    border-radius: 2px;
    border: 1px solid silver;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0;
    padding-left: 10px;
}

.musician-sound-clips-form {
    color: rgb(51, 51, 51);
    font-weight: 200;
    background: white;
    border-radius: 2px;
    border: 1px solid silver;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0;
    padding-left: 10px;
}

.label-container {
    padding-bottom: 20px;

    .label {
        letter-spacing: 1px;
        padding-left: 0px;
        color: rgb(51, 51, 51);
        font-size: 20px;
        font-weight: 300;
    }
}


.form-control {
    margin-top: 20px;
}

.form-group-two {
    margin-top: 20px;
    padding: 40px;
}

.save-musician-form {
    display: inline-block;
    width: 100%;
    height: 60px;
    color: white;
    border: none;
    border-radius: 2px;
    background-color: #dd473d;
    line-height: 32px;
    text-align: center;
    margin: 20px auto;

    &:hover {
        background-color: rgb(168,48,39);
    }
}









































/* Select forms css*/







.select2-container.e1 {
    width: 100%;
    padding-top: 20px;
}

.select2-container-multi.e23 {
    border-radius: 2px;
    border: 1px solid silver;
    height: 50px;
    width: 100%;
    margin-top: 40px;
    line-height: 35px;
}

.select2-container-multi.e24 {
    border-radius: 2px;
    border: 1px solid silver;
    height: 50px;
    width: 100%;
    margin-top: 40px;
    line-height: 35px;
}

.select2-container-multi.e25 {
    border-radius: 2px;
    border-bottom: 1px solid silver;
    height: 60px;
    width: 100%;
    margin-top: 0px;
    line-height: 35px;
    font-size: 17px;
    text-align: center;
    padding-top: 6px;
    padding-left: 55px;
    opacity: .6;
}

.select2-container-multi.e26 {
    border-radius: 2px;
    border-bottom: 1px solid silver;
    height: 60px;
    width: 100%;
    margin-top: 0px;
    line-height: 35px;
    font-size: 17px;
    text-align: center;
    padding-top: 6px;
    padding-left: 55px;
    opacity: .6;
}

.select2-container-multi.e27 {
    border-radius: 2px;
    border-bottom: 1px solid silver;
    height: 60px;
    width: 100%;
    margin-top: 0px;
    line-height: 35px;
    font-size: 17px;
    text-align: center;
    padding-top: 6px;
    padding-left: 55px;
    opacity: .6;
}

.select2-container-multi.e28 {
    border-radius: 2px;
    border-bottom: 1px solid silver;
    height: 60px;
    width: 100%;
    margin-top: 0px;
    line-height: 35px;
    font-size: 17px;
    text-align: center;
    padding-top: 6px;
    padding-left: 55px;
    opacity: .6;
}

/*.select2-choice {
    height: 45px;
}*/

/*.select2-choices {
    height: 45px;
    line-height: 45px;
}
*/



























// Search Page View



.musician-search-page-container {
    padding-bottom: 20px;
    background-color: snow;
    margin: 0 auto;
    margin-top: 125px;
    width: 960px;
    height: 960px;
}

.search-page-container-header {
    position: relative;
    width: 960px;
    height: 60px;
    background-color: #dd473d;

    .search-header-title {
        background-color: rgb(168, 48, 39);
        width: 230px;
        height: 60px;

        .header-text {
            font-size: 20px;
            font-weight: 100;
            letter-spacing: 2px;
            color: snow;
            line-height: 60px;
            margin-left: 40px;
            margin-top: 0px;
            letter-spacing: 1px;
        }
    }
}

.musician-search-list {
    margin-top: 20px;
    position: relative;
    border-bottom: 1px solid rgba(192, 192, 192, .1);
    margin-left: 20px;
    height: 795px;
    width: 915px;
    overflow: scroll;
    background-color: snow;

    .new-search {
        width: 100%;
        height: 120px;
        color: silver;
        // border: 1px solid silver;
        background-color: rgba(192, 192, 192, .2);
        margin-bottom: 20px;

        .musician-search-image-div {
            position: relative;
            left: 0px;
            display: inline-block;
            margin: 15px 5px 0px 15px;
            border-radius: 50%;
            width: 90px;
            height: 90px;
            overflow: hidden;

            .musician-search-avatar {
                width: 90px;
                height: auto;
            }
        }

        .search-content {
            width: 175px;
            height: 90px;
            position: relative;
            display: inline-block;
            vertical-align: top;
            margin-top: 22px;

            .search-name {
                letter-spacing: 1px;
                margin: 0px;
                font-size: 20px;
                font-weight: 500;
                color: rgba(51, 51, 51, .6);
            }

            .search-genre {
                letter-spacing: 1px;
                margin: 0px;
                font-size: 16px;
                font-weight: 500;
                color: rgba(51, 51, 51, .6);
            }

            .search-text {
                margin: 0px;
                font-size: 14px;
                font-weight: 200;
                color: rgba(51, 51, 51, .6);
            }
        }

        .send-message-btn {
            font-size: 13px;
            float: right;
            display: inline-block;
            width: 115px;
            height: 36px;
            color: white;
            border: none;
            border-radius: 2px;
            background-color: rgb(221, 71, 61);
            line-height: 31px;
            text-align: center;
            padding-top: 3px;
            margin: 0 auto;
            margin-top: 42px;
            margin-right: 42px;
        }

        &:hover {
            background-color: rgba(51, 51, 51, .1);
        }
    }
}

/*.select2-search-field {
    display: none;
}
*/

.select2-choices {
    margin-left: -35px;
}

/*.select2-search-field {
    display: none;
}
*/

/*.select2-input {
    display: none;
}
*/

.select2-search-field {
    display: none;
}

/*Yo*/





